.page-sections
  .page-sections__section-container(
    v-for='(section, i) in props'
    :class='`component-margins--` + section.component_margins'
    :id='section.hash'
    :key='`section-${i}`'
  )
    .page-sections__section(:id='`${section.acf_fc_layout}-${i}`' ref='sections')
      div(v-if='section.acf_fc_layout === null')
      Hero(v-else-if='section.acf_fc_layout === "hero"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockAccordion(v-else-if='section.acf_fc_layout === "accordion"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockCards(v-else-if='section.acf_fc_layout === "cards"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockContactMap(v-else-if='section.acf_fc_layout === "contact_map"', :props='section', :global='global' :class='`component-padding--` + section.component_padding')
      BlockCountUpCards(v-else-if='section.acf_fc_layout === "count_up_cards"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockEvents(v-else-if='section.acf_fc_layout === "events"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockFloatingCards(v-else-if='section.acf_fc_layout === "floating_cards"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockForm(v-else-if='section.acf_fc_layout === "form"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockGalleryCarousel(v-else-if='section.acf_fc_layout === "gallery_carousel"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockGraphicTextBanner(v-else-if='section.acf_fc_layout === "graphic_text_banner"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockImageText(v-else-if='section.acf_fc_layout === "image_text"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockLogos(v-else-if='section.acf_fc_layout === "logos"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockRepeaterPost(v-else-if='section.acf_fc_layout === "repeater_posts"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockTabs(v-else-if='section.acf_fc_layout === "tabs"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockTeam(v-else-if='section.acf_fc_layout === "team"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockTestimonials(v-else-if='section.acf_fc_layout === "testimonials"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockText(v-else-if='section.acf_fc_layout === "text"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockTiles(v-else-if='section.acf_fc_layout === "tiles"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockVideos(v-else-if='section.acf_fc_layout === "videos"', :props='section', :class='`component-padding--` + section.component_padding')
      ContactBanner(v-else-if='section.acf_fc_layout === "contact_banner"', :props='section', :class='`component-padding--` + section.component_padding')
      
      // circle graphics for each section
      BaseIcon.page-sections__circle.page-sections__circle--left(v-if='section.graphics && section.graphics.left.add',
        :name='section.graphics.left.circle',
        :class='[`page-sections__circle--` + section.graphics.left.position, `page-sections__circle--` + section.graphics.left.size]',
        ref='left')
      BaseIcon.page-sections__circle.page-sections__circle--right(v-if='section.graphics && section.graphics.right.add',
        :name='section.graphics.right.circle',
        :class='[`page-sections__circle--` + section.graphics.right.position, `page-sections__circle--` + section.graphics.right.size]',
        ref='right')


      // devMode is toggled in the global custom-post in the API and is only effective when the site is run locally.
      DevModeOverlay(
        v-if='$store.state.devInspector'
        :pageSectionSlug='section.acf_fc_layout'
        :props='section'
      )
  DevModeTools(v-if='$store.state.devTools')
