section.block-accordion
  .block-accordion__container(ref='container')
    BlockContent.block-accordion__content(v-if='props.content' :props='props.content' animate ref='content')
    .block-accordion__accordion(ref='accordion')
      button.block-accordion__item(v-for='(item, i) in props.items', 
        :key='`question-${i}`',
        :aria-controls='"block-accordion__drawer--" + i',
        aria-label='expand section',
        :class='{ "block-accordion__item--active": activeItem === i }'
        @click='toggleAccordion(i)'
        ref='items'
      )
        .block-accordion__accordion-top
          h3.block-accordion__question(v-html='item.question')
          .block-accordion__cross
            span
            span
        .block-accordion__drawer(
          :aria-hidden='activeItem !== i ? "true" : "false"',
          aria-live='polite',
          :id='"block-accordion__drawer--" + i',
          role='region'
        )
          .block-accordion__answer(:aria-hidden='activeItem !== i ? "true" : "false"', ref='content' v-html='item.answer')
